.app-start {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress {
  width: 60vw;
}

.app-start > img {
  height: 30vh;
  width: 30vh;
}
